header {
  padding: 20px 0;
}
 
 header .row {
   display: flex;
   align-items: center;
 }
 
 .headtext {
   display: flex;
   justify-content: flex-end;
 }
 header nav {
   display: flex;
  justify-content: flex-end;
  
 }
 header p {
    padding: 0 60px;
    margin: auto;
    text-align: right;
    
 }
 
 .jumbotron {
   display: felx;
   align-items: center;
   background-image: url("https://images7.alphacoders.com/587/587593.png");
   background-size: cover;
   height: 600px;
   color: #ffffff;
 }
 img {
   width: 555px;
   height: 323.75px;
 }
 
body {
  background-color: ;
}
.row2 {
background-color: #252C31;
justify-content: center;
padding: 50px 100px 50px 100px;
display: inline-block;
}
#dustII {
  padding: 0px 0px 0px 41px;
  
  
}


 

 
 
 
 
