header {
  padding: 20px 0;
}
 
 header .row {
   display: flex;
   align-items: center;
 }
 
 .headtext {
   display: flex;
   justify-content: flex-end;
 }
 header nav {
   display: flex;
  justify-content: flex-end;
  
 }
 header p {
    padding: 0 60px;
    margin: auto;
    text-align: right;
    color: #a1b1bc;
    align: right;
    
 }
 
 .jumbotron {
   display: felx;
   align-items: center;
   background-image: url("https://images7.alphacoders.com/587/587593.png");
   background-size: cover;
   height: 600px;
   color: #ffffff;
   border-radius: 2%;
 }
 img {
   width: 555px;
   height: 323.75px;
   border-radius: 2%;
 }
 
body {
background-color: #191919;
}
.row2 {
background-color: ;
justify-content: center;
padding: 50px 100px 50px 170px;
display: inline-block;
}
#dustII {
  padding: 0px 0px 0px 41px;
  
  
}
#dustIII {
  padding: 0px 0px 0px 41px;
  color: #a1b1bc;
  
}
p {
  color: #a1b1bc;
}

h1 {
  color: #a1b1bc;
}

.bild {
}


 

 
 
 
 
